# Godot 4+ specific ignores

.godot/

.import/
export.cfg
export_presets.cfg

bin/
build/
dist/
export/
*.pck

*.cfg
*.ini

.editor/
commit.gd

*.tmp
*.temp
*.log

.idea/
.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/libraries/GdSdk_Master.xml

.vscode/

/android/

ios/

.DS_Store
Thumbs.db
